/* x debug */
/* * {
  border: 1px dashed black;
} */

.container {
  margin: 0px auto;
  /* padding: var(--space-s); */
  width: 100%;
  max-width: 1000px;
}

/* flex */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.flex-space-btw {
  justify-content: space-between;
}
.flex-content-start {
  justify-content: flex-start;
}
.flex-content-end {
  justify-content: flex-end;
}
.flex-content-center {
  justify-content: center;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-center {
  align-items: center;
}
.order-last {
  order: 9;
}

/* content */
a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1em;
}

/* buttons */
.btt-small {
  border: none;
  border-radius: 30px;
  padding: var(--space-s) var(--space-m);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
}
.btt-big {
  border: none;
  border-radius: 30px;
  padding: var(--space-s) var(--space-m);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: var(--space-m);
}
.btt-big > div {
  display: inline-block;
}
.btt-black {
  background-color: #23272a;
  color: var(--color-secondary);
}
.btt-white {
  background-color: white;
  color: var(--color-primary);
}

.logo-font {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.min-size {
  min-width: 300px;
  min-height: 300px;
  padding: 0px;
}

.intro {
  width: 80%;
  text-align: center;
  color: var(--color-secondary);
}
/*  header */
.flex.header-content-logo {
  flex-grow: 1;
  text-align: left;
}
.flex.header-content-login {
  flex-grow: 1;
  text-align: right;
}
.flex.header-content-link {
  width: 60%;
  justify-content: space-around;
}

/* # jumbotrone */

.bg-jumbotrone {
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* main content */

img {
  width: 100%;
}

.content-img {
  padding: var(--space-m);
  width: 70%;
  min-height: var(--min-heigh);
}
.content-text {
  padding: var(--space-m);
  width: 30%;
  min-height: var(--min-heigh);
}

.recap {
  width: 100%;
}

/* footer */
.footer-big {
  width: 40%;
}

.footer-column {
  width: 60%;
}

.footer-colu-small {
  width: 25%;
}

/* colori da tenere */
.bg-header {
  background-color: #255ee9;
}
.txt-2nd-color {
  color: var(--color-secondary);
}

/* colori  x debug*/
.bg-skyblue {
  background-color: skyblue;
}
.bg-gold {
  background-color: gold;
}
.bg-green {
  background-color: green;
}
.bg-darkblue {
  background-color: darkblue;
}
.bg-pink {
  background-color: pink;
}
.bg-lightgray {
  background-color: lightgray;
}
.bg-white {
  background-color: white;
}
.bg-tan {
  background-color: tan;
}
.bg-darkslategrey {
  background-color: darkslategrey;
}
.bg-greenyellow {
  background-color: greenyellow;
}

/* selectors */

.content-bg:nth-child(odd) {
  background-color: #f6f6f6;
}
.content-bg:nth-child(even) {
  background-color: white;
}
